# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

In [13]:
import pandas as pd
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [14]:
customer_data = pd.concat([df1, df2, df3], ignore_index=True)

In [15]:
rows_match = customer_data.shape[0] == df1.shape[0] + df2.shape[0] + df3.shape[0]
rows_match

True

In [16]:
columns_match = customer_data.shape[1] == max(df1.shape[1], df2.shape[1], df3.shape[1])
columns_match

True

In [18]:
customer_data.columns = [c.lower().replace(" ", "_") for c in customer_data.columns]
customer_data.head(5)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [83]:
# Your code goes here
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [84]:
df = df.rename(columns={
    'customer': 'customer_id',
    'state': 'customer_state',
    'employmentstatus': 'employment_status',
})

In [85]:
columns_to_drop = ['month', 'response', 'income', 'renew_offer_type','unnamed:_0','months_since_policy_inception','policy_type','number_of_open_complaints','number_of_policies']
df = df.drop(columns=columns_to_drop)

In [86]:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['effective_to_date'] = df['effective_to_date'].dt.strftime('%d-%m-%Y')

In [87]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].apply(lambda x: f"${x:.2f}")
df['total_claim_amount'] = df['total_claim_amount'].apply(lambda x: f"${x:.2f}")
df['months_since_last_claim'] = df['months_since_last_claim'].apply(lambda x: f"{x:.1f}")

In [90]:
df.set_index('customer_id', inplace=True)

In [91]:
df.head(10)

,customer_state,customer_lifetime_value,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,monthly_premium_auto,months_since_last_claim,policy,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
customer_id,,,,,,,,,,,,,,,,,
DK49336,Arizona,$4809.22,Basic,College,18-02-2011,Employed,M,Suburban,Married,61,7.0,Corporate L3,Agent,$292.80,Four-Door Car,Medsize,A
KX64629,California,$2228.53,Basic,College,18-01-2011,Unemployed,F,Suburban,Single,64,3.0,Personal L3,Call Center,$744.92,Four-Door Car,Medsize,A
LZ68649,Washington,$14947.92,Basic,Bachelor,10-02-2011,Employed,M,Suburban,Single,100,34.0,Personal L3,Call Center,$480.00,SUV,Medsize,A
XL78013,Oregon,$22332.44,Extended,College,11-01-2011,Employed,M,Suburban,Single,97,10.0,Corporate L3,Branch,$484.01,Four-Door Car,Medsize,A
QA50777,Oregon,$9025.07,Premium,Bachelor,17-01-2011,Medical Leave,F,Suburban,Married,117,15.1,Personal L2,Branch,$707.93,Four-Door Car,Medsize,A
HO81102,California,$4745.18,Basic,High School or Below,14-02-2011,Employed,M,Suburban,Divorced,61,2.0,Personal L3,Agent,$292.80,Four-Door Car,Medsize,A
IW72280,California,$5035.04,Basic,Doctor,14-02-2011,Employed,F,Urban,Married,63,8.0,Corporate L2,Branch,$287.56,Four-Door Car,Medsize,A
IH64929,California,$4956.25,Basic,High School or Below,24-02-2011,Employed,M,Urban,Single,63,35.0,Personal L2,Branch,$247.40,Two-Door Car,Medsize,A
FM55990,California,$5989.77,Premium,College,19-01-2011,Employed,M,Suburban,Single,154,33.0,Personal L1,Branch,$739.20,Sports Car,Medsize,A
QX31376,Oregon,$17114.33,Extended,Master,04-01-2011,Employed,F,Suburban,Married,85,19.0,Corporate L3,Agent,$408.00,Four-Door Car,Small,A

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here